.root {
    position: relative;
    margin-left: 50px;
    margin-right: auto;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    width: 400px;
    border-radius: 12px;
    font-size: 16px;
    padding-left: 40px;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.icon {
    width: 20px;
    opacity: 0.3;
    position: absolute;
    left: 12px;
    padding-bottom: 9px;
}

.clear {
    width: 20px;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    padding-bottom: 9px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        fill: rgb(156, 61, 61);
    }
}
